{% extends 'section-index.html.twig' %}

{% import "macros.html.twig" as macros %}

{% block socialMetaData %}
    {{ macros.pageMeta(
        category.categoryName ~ "| CryptoCoin Service Directory",
        category.categorySummary,
        "bitcoin, cryptocurrency"
    ) }}
{% endblock socialMetaData %}

{% block breadCrumbItems %}
    <li><a href="javascript:;">CryptoCoin Service Directory</a></li>
    <li class="active">{{ category.categoryName }}</li>
{% endblock breadCrumbItems %}

{% block indexPageTitle %}{{ category.categoryName }} - Service Directory{% endblock %}

{% block indexBody %}
    <h4>
        Top Services in the "{{ category.categoryName }}" Category
    </h4>
    <p>
        Our Promise: The team at YourWeb is proud of our high morals and integrity. We will never
        intentionally mislead you, lie to you, endorse a site or product we don't personally believe in,
        or make false claims for a pay check.
    </p>
    <p>
        If we discover any of these sites or services misleading customers or not providing quality service
        their status will be immediately updated. If you are investigating a new service check out our scam list
        to see if w have reviewed or tested it.
    </p>
    <div class="service-list">
        {% set count=0 %}
        {% for website in category.websites %}
            {%  include 'service-directory/service-index-card.html.twig' with { 'website': website } %}

            {% set count = count + 1 %}
            {% if count % 3 == 0 %}
                <div class="row margin-bottom-25 padding-top-25">
                    <div class="col-md-8 col-md-offset-3">
                        <p>Advertisement</p>
                        {{ macros.displayRegularBanner() }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
{% block sideBar %}
    {{ include('service-directory/sidebar.html.twig') }}
{% endblock sideBar %}
