{% macro writeStatusClass(statusEnum) %}
{% spaceless %}
    {% if statusEnum == 1 %}
        success
    {% elseif statusEnum == 6 %}
        danger
    {% elseif statusEnum == 4 %}
        info
    {% else %}
        warning
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% import _self as macros %}
{% set contextColor = macros.writeStatusClass(website.websiteStatus) %}
<div class="row">
    <div class="service-directory-card shadow-{{ contextColor }} col-xs-12">
        <div class="col-md-3 col-sm-3">
            {% if website.snapshot is not null %}
                {% set thumNailAsset = website.snapshot.thumbnailImageAsset %}
                {% set imgSrc = app.request.getSchemeAndHttpHost()  ~ thumNailAsset.publicUrl %}
            {% elseif website.websiteImageUrl is not empty %}
                {% set imgSrc = website.websiteImageUrl %}
            {% else %}
                {% set imgSrc = "/assets/images/icon-website.png" %}
            {% endif %}
            <img src="{{ imgSrc }}" width="100%" alt="{{ website.websiteName }}">
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="row">
                <p class="pull-right">
                    Status:
                    <span style="font-weight: bold" class="text-{{- contextColor -}}">
                        {{ website.websiteStatus|readable_enum("ReviewSiteStatusType") }}
                    </span>
                </p>
                <h3 class="pull-left">{{ website.websiteName }} </h3>
                <p class="pull-right padding-right-30">Our Rating: {{ website.myRecommendation }} / 5</p>
            </div>
            <p class="card-summary">{{ website.websiteSummary|markdown }}</p>
            <p class="text-right .bottom-align-text">
                <a href="{{ website.websiteUrl }}" class="btn btn-link service-directory-link" target="_blank">Visit Website</a>
                {#{% if website.websiteReview is not empty %}#}
                    {#<a href="{{ path("websiteReview", {"id":website.id}) }}" class="btn btn-link service-directory-link">Site Review</a>#}
                {#{% endif %}#}
            </p>
        </div>
    </div>
    <hr>
</div>
