{% extends 'two-column-page.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block socialMetaData %}
    {{ macros.pageMeta(
        "Review of " ~ site.websiteName,
        "Review of " ~ site.websiteName ~ ". Yourweb is dedicated to providing our visitors with quality content. "
        ~ "You can expect honest and fair descriptions of services. Our reviews cannot be bought!",
        "CryptoCurrency Service Reviews, " ~ site.websiteName ~ " Review, About " ~ site.websiteName
        ~ " Scam " ~ site.WebsiteName,
        'article',
        site.websiteThumbnailUrl
    ) }}
{% endblock socialMetaData %}

{% block breadCrumbItems %}
    <li><a href="javascript:;">Service Index</a></li>
    <li class="active">{% block breadcrumbEntry %}{{ site.websiteName }}{% endblock breadcrumbEntry %}</li>
{% endblock breadCrumbItems %}

{% block indexPageTitle %}{{ site.websiteName }} <small>Service Review</small>{% endblock indexPageTitle %}

{% block pageSubHeading %}
    <p class="section-summary col-md-5">
        YourWeb.online reviews cryptocurrency services such as {{ site.websiteName }}. YourWeb nor the author of this
        article represent {{ site.websiteName }}, and are not responsible or liable for any negative outcome that may
        result from using any of the services in or directory including {{ site.websiteName }}.
    </p>

    <p class="section-summary col-md-5">
        We do commit to providing our visitors with honest and accurate details
        about the services we review in an effort to arm you, the visitor with
        the tools you need to make good decisions about the crypto-services you use.
    </p>
{% endblock pageSubHeading %}

{% block leftColumn %}

<div class="row site-review-article">
    <div class="col-md-7">
        <div class="col-md-12 article-content margin-bottom-40">
            <h3>Summary of {{ site.websiteName }}</h3>
            {{ site.websiteSummary|markdown }}
            {{ site.websiteReview|markdown }}
        </div>
        <div class="col-md-12">{{ macros.displayRegularBanner() }}</div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12 website-image">
                {% set linkUrl = exit_link_service.serviceDirectorySiteLink(site) %}
                {{ macros.browserImageFrame(
                    "https://" ~ site.websiteImageUrl,
                    "Screen Shot Of " ~ site.websiteName,
                    linkUrl,
                    site.websiteFriendlyUrl
                ) }}
            </div>
            <ul class="col-md-12 review-site-summary margin-bottom-40">
               <li><h6>Is {{ site.websiteName }} a scam?</h6></li>
                <li class="clearfix"><span>Website Rating</span> <p>{{ site.myRecommendation }}</p></li>
                <li class="clearfix"><span>Website Status</span>
                   <p class="{{ macros.writeStatusClass(site.websiteStatus) }}">
                        {{ site.websiteStatus|readable_enum }}
                   </p>
               </li>
            </ul>
            <div class="col-md-12">{{ macros.displayHalfBanner() }}</div>
        </div>
    </div>
</div>

{% endblock leftColumn %}


{% block rightColumn %}
    <div class="col-md-12 margin-bottom-40">
        {{ macros.displaySquare() }}
    </div>
    <div class="col-md-12 margin-bottom-40">
        {{ macros.displaySquare() }}
    </div>
    <div class="col-md-12 margin-bottom-40">
        {{ macros.displaySquare() }}
    </div>
{% endblock rightColumn %}

{% block bodyBottomContent %}
    <div class="row">
        <div class="col-md-6 col-sm-12">{{ macros.displayRegularBanner() }}</div>
        <div class="col-md-6 hidden-sm" >{{ macros.displayRegularBanner() }}</div>
    </div>
{% endblock bodyBottomContent %}
