{% extends 'base.html.twig' %}

{% import "macros.html.twig" as macros %}

{% block title %}Home {{ parent() }}{% endblock %}

{% block pageTitle %}Welcome to Digital Cash @ YourWeb.Agency{% endblock %}

{% block pageCssHref %}
    <link href="{{ asset('/assets/pages/css/components.css') }}" rel="stylesheet">
    <link href="{{ asset('/assets/pages/css/slider.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/owl.carousel/assets/owl.carousel.css') }}" rel="stylesheet" >
{% endblock %}

{% block bodyHero %}{% endblock bodyHero %}

{% block bodyContent %}
<div class="main">
    <div class="container">
        {#<h1 class="page-header margin-bottom-25">YourWeb.Money <small>A CryptoCurrency Resource Library</small></h1>#}
        <div class="row margin-bottom-50">
            <div class="col-md-6 col-sm-12">
                <div class="intro">
                    <h1>YourWeb.Money</h1>
                    <h2>Welcome to your cryptocurrency wonderland!</h2>
                    <p>YourWeb is committed to providing our visitors with high quality, trustworthy cryptocurrency
                        resources. We scour the web for bitcoin and other cryptocurrency related services and list the
                        best of the best on our site. Our service directory is being built, manually, by had by real
                        humans doing real research on sites these services.
                    </p>
                </div>
                <div class="row card margin-bottom-25">
                    {% include 'home/new-sites-card.html.twig' with { 'sites' : newSites } %}
                </div>
                <div class="row">
                    {{ macros.serviceBox('col-md-6 col-sm-12', 'fab fa-bitcoin', 'Free Coins!', 'Use our list of faucets to find the highest paying, obstruction free claim faucets. We sift through the junk for you to make your introduction to cryptocurrency easy.', path('websiteReviewCategory', {'slug':'coin-faucets'})) }}
                    {{ macros.serviceBox('col-md-6 col-sm-12', 'fas fa-chart-line', 'Looking to Invest?', 'Find the HYIP that pays from our reviewed services. High Yield Investment Programs can be profitable as well as risky! Find out who pays and who doesn\'t.', path('websiteReviewCategory', {'slug':'high-yeild-investments'})) }}
                </div>
                <div class="row">
                    {{ macros.serviceBox('col-md-6 col-sm-12', 'far fa-credit-card','Need a Wallet?','There are so many wallets available and choosing the right one is important. Pick from our list of easy to use wallets to identify one with the features you need.', path('websiteReviewCategory', {'slug':'wallets'})) }}
                    {{ macros.serviceBox('col-md-6 col-sm-12', 'fas fa-chess-rook','Gaming','Entertain yourself and even earn free bittcoins. The best gaming sites are listed here.', path('websiteReviewCategory', {'slug':'gaming-sites'})) }}
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        {{ macros.displayRegularBanner() }}
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 sidebar service-box">
                {% include 'home/service-categories.html.twig' with {'categories':categories} %}
                {{ macros.displayHalfBanner() }}
            </div>

            <div class="col-md-3 col-sm-6 sidebar service-box">
                {% include 'home/social-sites.html.twig' %}
            </div>

            <div class="col-md-3 col-sm-6 sidebar service-box">
                {% include 'home/crypto-guides.html.twig' %}
                {{ macros.displayMediumRectangle() }}
            </div>


        </div>
    </div>
</div>
{% endblock bodyContent %}

{% block pageJavascripts %}

    {#<script src="{{ asset('/assets/plugins/fancybox/source/jquery.fancybox.pack.js') }}" type="text/javascript"></script><!-- pop up -->#}
    {#<script src="{{ asset('/assets/plugins/owl.carousel/owl.carousel.min.js') }}" type="text/javascript"></script><!-- slider for products -->#}
    {#<script src="{{ asset('/assets/pages/scripts/bs-carousel.js') }}" type="text/javascript"></script>#}
    <script src="{{ asset('build/js/home-page.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.initOWL();
        });
    </script>
{% endblock %}
