
<li><a href="{{ path('websiteReviewCategory', {'slug':'free-coin-faucets'}) }}">Free Coins</a></li>
<li><a href="{{ path('websiteReviewCategory', {'slug':'purchase-coins-with-cash-or-credit'}) }}">Purchase Coins</a></li>
<li><a href="{{ path('websiteReviewCategory', {'slug':'currency-exchanges'}) }}">Exchanges</a></li>
<li><a href="{{ path('websiteReviewCategory', {'slug':'high-yield-investment-programs'}) }}">HYIP Investing</a></li>
<li><a href="{{ path('websiteReviewCategory', {'slug':'recommended-wallets'}) }}">Wallets</a></li>
<li><a href="{{ path('websiteReviewCategory', {'slug':'contract-mining-services'}) }}">Mining</a></li>

{#
<li><a href="{{ path('websiteReviewCategory', {'slug':'best-exchanges'}) }}">Business Services</a></li>


<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">Coin Wallets & Tools</a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('websiteReviewCategory', {'slug':'get-paid-with-coins'}) }}">
                Work For Coins
            </a>
        </li>
        <li>
            <a href="{{ path('websiteReviewCategory', {'slug':'get-paid-with-coins'}) }}">
                Earn Coins
            </a>
        </li>
        <li>
            <a href="{{ path('websiteReviewCategory', {'slug':'best-wallet-services'}) }}">
                Best Wallets
            </a>
        </li>

    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">Business & Investing</a>
    <ul class="dropdown-menu">
        <li><a href="/best-coin-values">Best Coin Value Sites</a></li>
        <li><a href="/best-coin-investments">Best Investment Services</a></li>
        <li><a href="/best-coin-mining-services">Best Mining Services</a></li>
        <li><a href="/best-bitcoin-exchanges">Best Exchanges</a></li>
        <li><a href="/earn-coins">Earn Coins</a></li>

    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">Games and Casinos</a>
    <ul class="dropdown-menu">
        <li><a href="/change-coins-up">Change Coins</a></li>
        <li><a href="/best-bitcoin-exchanges">Best Exchanges</a></li>
        <li><a href="/advertising-network">Advertising Networks</a></li>
    </ul>
</li>
#}
