<li><a href="{{ path('home') }}">Home</a></li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
        Service Directory
    </a>
    <ul class="dropdown-menu">
        {% set categories = review_site_service.reviewSiteCategories %}
        {% for cat in categories %}
            <li><a data-tootilp="{{ cat.categorySummary }}"
                   href="{{path('websiteReviewCategory', {'slug':cat.categorySlug}) }}">
                    {{ cat.categoryName }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="{{ path('coming-soon') }}">
        Information Center
    </a>
    <ul class="dropdown-menu">
        <li>
            <div class="header-navigation-content">
                <div class="row">
                    <div class="col-md-4 header-navigation-col">
                        <h4 class="header-navigation-col">Bitcoin Basics</h4>
                        <ul>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 header-navigation-col">
                        <h4 class="header-navigation-col">Mining Center</h4>
                        <ul>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 header-navigation-col">
                        <h4 class="header-navigation-col">Blockchain Projects</h4>
                        <ul>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="{{ path('coming-soon') }}">
        Coin Database
    </a>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="{{ path('coming-soon') }}">
        Tools
    </a>
    <ul class="dropdown-menu">
        <li><b>Laying the Path...</b></li>
        <li>Instant Exchange</li>
        <li>Currency Converter</li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="{{ path('coming-soon') }}">
        Shop
    </a>
    <ul class="dropdown-menu">
        <li><b>Laying the Path...</b></li>
        <li>Mining Hardware</li>
        <li>Hardware Wallets</li>
        <li>Apparel</li>
        <li>Digital Media</li>
    </ul>
</li>

{#
<li><a href="{{ path('websiteReviewCategory', {'slug':'best-exchanges'}) }}">Business Services</a></li>


<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">Coin Wallets & Tools</a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('websiteReviewCategory', {'slug':'get-paid-with-coins'}) }}">
                Work For Coins
            </a>
        </li>
        <li>
            <a href="{{ path('websiteReviewCategory', {'slug':'get-paid-with-coins'}) }}">
                Earn Coins
            </a>
        </li>
        <li>
            <a href="{{ path('websiteReviewCategory', {'slug':'best-wallet-services'}) }}">
                Best Wallets
            </a>
        </li>

    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">Business & Investing</a>
    <ul class="dropdown-menu">
        <li><a href="/best-coin-values">Best Coin Value Sites</a></li>
        <li><a href="/best-coin-investments">Best Investment Services</a></li>
        <li><a href="/best-coin-mining-services">Best Mining Services</a></li>
        <li><a href="/best-bitcoin-exchanges">Best Exchanges</a></li>
        <li><a href="/earn-coins">Earn Coins</a></li>

    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">Games and Casinos</a>
    <ul class="dropdown-menu">
        <li><a href="/change-coins-up">Change Coins</a></li>
        <li><a href="/best-bitcoin-exchanges">Best Exchanges</a></li>
        <li><a href="/advertising-network">Advertising Networks</a></li>
    </ul>
</li>
#}
