

<li><a href="{{ path('home') }}">Home</a></li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
        Crypto-Services
    </a>
    <ul class="dropdown-menu">
        {% set categories = review_site_service.reviewSiteCategories %}
        {% for cat in categories %}
            <li><a
                        href="{{ path('websiteReviewCategory', {'slug':cat.categorySlug}) }}"
                        data-tootilp="{{ cat.categorySummary }}"
                >{{ cat.categoryName }}</a></li>
        {% endfor %}
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="{{ path('coming-soon') }}">
        Guides
    </a>
    <ul class="dropdown-menu">
        <li>Coming Soon...</li>
        <li><a href="{{ path('coming-soon') }}">Video Library</a></li>
        <li><a href="{{ path('coming-soon') }}">How-To Guides</a></li>
        <li><a href="{{ path('coming-soon') }}">Cryptocurrency Explained</a></li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="{{ path('coming-soon') }}">
        Coins
    </a>
</li>
<li><a href="{{ path('coming-soon') }}">Blockchain Projects</a></li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="{{ path('coming-soon') }}">
        Mining
    </a>
    <ul class="dropdown-menu">
        <li>Coming Soon...</li>
        <li><a href="{{ path('coming-soon') }}">Mining Hardware</a></li>
        <li><a href="{{ path('coming-soon') }}">Mining Pools</a></li>
        <li><a href="{{ path('coming-soon') }}">Mining Contracts</a></li>
    </ul>
</li>

{#
<li><a href="{{ path('websiteReviewCategory', {'slug':'best-exchanges'}) }}">Business Services</a></li>


<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">Coin Wallets & Tools</a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('websiteReviewCategory', {'slug':'get-paid-with-coins'}) }}">
                Work For Coins
            </a>
        </li>
        <li>
            <a href="{{ path('websiteReviewCategory', {'slug':'get-paid-with-coins'}) }}">
                Earn Coins
            </a>
        </li>
        <li>
            <a href="{{ path('websiteReviewCategory', {'slug':'best-wallet-services'}) }}">
                Best Wallets
            </a>
        </li>

    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">Business & Investing</a>
    <ul class="dropdown-menu">
        <li><a href="/best-coin-values">Best Coin Value Sites</a></li>
        <li><a href="/best-coin-investments">Best Investment Services</a></li>
        <li><a href="/best-coin-mining-services">Best Mining Services</a></li>
        <li><a href="/best-bitcoin-exchanges">Best Exchanges</a></li>
        <li><a href="/earn-coins">Earn Coins</a></li>

    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">Games and Casinos</a>
    <ul class="dropdown-menu">
        <li><a href="/change-coins-up">Change Coins</a></li>
        <li><a href="/best-bitcoin-exchanges">Best Exchanges</a></li>
        <li><a href="/advertising-network">Advertising Networks</a></li>
    </ul>
</li>
#}
